<div class="center hero-unit">
  <%= provide(:title, 'Home') %>

  <h1>Sample App</h1>

  <p>
    This is some text for the sample app put together with the Rails Tutorial book. </p>
  <p>
    <%= link_to "Sign-Up", signup_path, class: "btn btn-primary btn-large" %>
  </p>

</div>